$day-size: 100px;
$gap: 1px;
$padding: 10px;
$columns: 7;
$border-width: 1px;
$day-bg-color: #eee;
$hover-bg-color: #ffbfcb;
$day-font-family: Arial, sans-serif;
$day-font-size: 30px;
$transition-duration: 0.5s;
$week-days: mon, tue, wed, thu, fri, sat, sun;
